.site-banner {
	padding-top: 80px;
	h2 {
		font-size: 32px;
		font-family: 'robotobold';
		margin-bottom: 30px;
	}
}


.subscribe-form {
	margin-top: 40px;
	#subscribe-email {
		width: 100%;
		padding: 10px;
		
		border: 1px solid $white;
		outline: 0;
		@include media(max-width $phone) {
			margin-bottom: 20px;
		}
	}
}
