body {
	font-size: 14px;
	line-height: 24px;

	font-family: 'robotolight';
}

a {
	color: $accent;
	@include transition(all, 150ms, ease-in-out);
	text-decoration: none !important;
	&:hover {
		color: $heading-color;
	}
}

h1, h2, h3, h4, h5 {

}

h1 {
	font-size: 34px;
	font-weight: 300;
}

h2 {
	font-size: 28px;
	font-weight: normal;
}

h3 {
	font-size: 18px;
	font-weight: 600;
}

h4 {
	font-size: 18px;
	font-weight: 300;
}

h5 {
	font-size: 16px;
	font-weight: normal;
}

::-webkit-input-placeholder {
   color: $white;
}

:-moz-placeholder { /* Firefox 18- */
   color: $white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $white;
}

:-ms-input-placeholder {
   color: $white;
}

.content-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 0;

}

.bg-overlay {

	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.social-icons {
	a {
		color: $white;
		width: 34px;
		height: 34px;
		border: 1px solid $white;
		@include border-radius(17px);
		text-align: center;
		font-size: 12px;
		line-height: 34px;
		i {
			line-height: 34px;
		}
		&:hover {
			background: $white;
			color: $black;
		}
	}
	li {
		display: inline-block;
		margin: 0 4px;
	}
	@include media(max-width $phone) {
		float: none !important;
		text-align: center;
		display: block;
	}
}

.button {
	padding: 10px 20px;
	display: inline-block;
	outline: 0;
	border: 0;
	&.white {
		background: $white;
		color: $black;
		text-transform: uppercase;
	}
}




#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
	z-index: 9999;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $black;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $black;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $black;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
