.main-posts {
	position: relative;
	z-index: 6;
}

.post-masonry {
	margin-bottom: 30px;
	.post-thumb {
		border: 10px solid $white;
		overflow: hidden;
		position: relative;
		img {
			width: 100%;
			display: block;
		}
		.title-over {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		
			padding: 15px 20px;
			h4 {
				font-size: 16px;
				font-family: 'robotoregular';
			}
			a {
				color: $white;
			}
		}
		.post-hover {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 70px;
			left: 0;
			visibility: hidden;
			opacity: 0;

			@include transition(all, 150ms, ease-in-out);
			.inside {
				position: relative;
				top: 50%;
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
			}
			h4 {
				font-size: 16px;
				font-family: 'robotoregular';
				margin-bottom: 10px;
			}
			a {
				color: $white !important;
			}
			i {
				display: block;
				margin-bottom: 10px;
			}
			p {
				font-size: 12px;
			}
			span {
				font-size: 12px;
				margin-bottom: 15px;
				display: block;
			}
		}

		&:hover {
			.title-over {
				@include transition(all, 150ms, ease-in-out);
				visibility: hidden;
				opacity: 0;
				bottom: -50px;
			}
			.post-hover {
				top: 0;
				visibility: visible;
				opacity: 1;
			}
		}
	}
}
