/*
	Masonry Template
	http://www.templatemo.com/preview/templatemo_434_masonry
*/

@font-face {
    font-family: 'robotolight';
    src: url("../fonts/Roboto-Light-webfont.eot");
    src: url("../fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/Roboto-Light-webfont.woff") format("woff"),url("../fonts/Roboto-Light-webfont.ttf") format("truetype"),url("../fonts/Roboto-Light-webfont.svg#robotolight") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'robotoregular';src:url("../fonts/Roboto-Regular-webfont.eot");src:url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/Roboto-Regular-webfont.woff") format("woff"),url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"),url("../fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'robotobold';src:url("../fonts/Roboto-Bold-webfont.eot");src:url("../fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/Roboto-Bold-webfont.woff") format("woff"),url("../fonts/Roboto-Bold-webfont.ttf") format("truetype"),url("../fonts/Roboto-Bold-webfont.svg#robotobold") format("svg");font-weight:normal;font-style:normal;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.blue {
	color: #6BE;
}

.green {
	color: #6E6;
}

main {
    display: block;
}

body {
    line-height: 1;
}

ol,ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a:focus {
    outline: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display: block;
}

audio,canvas,video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

sub,sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

button,input,select,textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button,input {
    line-height: normal;
    *overflow: visible;
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]:-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

body {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    background-color: #000;
    font-family: 'robotolight';
}

a {
    color: #6cc0f7;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    text-decoration: none !important;
}

a:hover {
    color: #fff;
}

h1,h2,h3,h4,h5 {
    color: #fff;
}

h1 {
    font-size: 34px;
    font-weight: 300;
}

h2 {
    font-size: 28px;
    font-weight: normal;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    font-weight: 300;
}

h5 {
    font-size: 16px;
    font-weight: normal;
}

::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder {
    color: #fff;
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}

.content-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-overlay {
    background: rgba(0,0,0,0.3);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.social-icons a {
    color: #fff;
    width: 34px;
    height: 34px;
    border: 1px solid #fff;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    text-align: center;
    font-size: 12px;
    line-height: 34px;
}

.social-icons a i {
    line-height: 34px;
}

.social-icons a:hover {
    background: #fff;
    color: #000;
}

.social-icons li {
    display: inline-block;
    margin: 0 4px;
}

@media screen and (max-width: 768px) {
    .social-icons {
        float: none !important;
        text-align: center;
        display: block;
    }
}

.button {
    padding: 10px 20px;
    display: inline-block;
    outline: 0;
    border: 0;
}

.button.white {
    background: #fff;
    color: #000;
    text-transform: uppercase;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #000;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #000;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #000;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*---------------------------------------------------------
 Header
-------------------------------------------------------- */
.site-top {
    position: relative;
    z-index: 4;
    width: 100%;
    background: url(../images/Artboard2.png) center no-repeat;
    margin-bottom: 30px;
    padding-bottom: 40px;
}

.site-header {
    padding-top: 30px;
}

.site-brand {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}

.site-brand strong {
    font-size: 24px;
    font-family: '';
}

.toggle-menu {
    float: right;
    position: absolute;
    top: 40px;
    right: 20px;
    color: white;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    text-align: center;
}

.toggle-menu:hover {
    color: white;
}

.toggle-menu i {
    line-height: 40px;
}

.main-navigation {
    float: right;
}

.main-navigation ul li {
    display: inline-block;
    margin-left: 15px;
}

.main-navigation ul li a {
    color: white;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    padding: 7px 15px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.main-navigation ul li a:hover {
    background: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px) {
    .site-brand {
        float: none !important;
        text-align: center;
        display: block;
        margin-bottom: 30px;
    }

    .main-navigation {
        width: 100%;
    }

    .main-navigation ul {
        display: none;
        position: relative;
        top: 20px;
        width: 100%;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        padding: 10px 0;
        z-index: 14;
    }
    .main-navigation ul li {
        display: block;
    }
}

.site-banner {
    padding-top: 60px;
}

.site-banner h2 {
    font-size: 32px;
    font-family: 'robotobold';
    margin-bottom: 30px;
}

.subscribe-form {
    margin-top: 40px;
}

.subscribe-form #subscribe-email {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 1px solid #fff;
    outline: 0;
}

@media screen and (max-width: 768px) {
    .subscribe-form #subscribe-email {
        margin-bottom: 20px;
    }
}


.main-posts {
    position: relative;
    z-index: 6;
}

.post-masonry {
    margin-bottom: 30px;
}

.post-masonry .post-thumb {
    border: 4px solid #fff0;
    overflow: hidden;
    position: relative;
}

.post-masonry .post-thumb img {
    width: 100%;
    display: block;
}

.post-masonry .post-thumb .title-over {
  position: absolute;
  bottom: 0;
  left: 0;
  width: auto;
  background: rgba(0, 0, 0, 0.16);
  padding: 10px;
}

.post-masonry .post-thumb .title-over h4 {
    font-size: 16px;
    font-family: 'robotoregular';
}

.post-masonry .post-thumb .title-over a {
    color: #fff;
}

.post-masonry .post-thumb .post-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,0.9);
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.post-masonry .post-thumb .post-hover .inside {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.post-masonry .post-thumb .post-hover h4 {
    font-size: 16px;
    font-family: 'robotoregular';
    margin-bottom: 10px;
}

.post-masonry .post-thumb .post-hover a {
    color: #fff !important;
}

.post-masonry .post-thumb .post-hover i {
    display: block;
    margin-bottom: 10px;
}

.post-masonry .post-thumb .post-hover p {
    font-size: 12px;
}

.post-masonry .post-thumb .post-hover span {
    font-size: 12px;
    margin-bottom: 15px;
    display: block;
}

.post-masonry .post-thumb:hover .title-over {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    bottom: -50px;
}

.post-masonry .post-thumb:hover .post-hover {
    top: 0;
    visibility: visible;
    opacity: 1;
}

.site-footer {
    position: relative;
    z-index: 8;
    background: rgba(0,0,0,0.6);
    padding: 40px 0;
    margin-top: 60px;
}

.site-footer .social-icons {
    margin-bottom: 30px;
}

.copyright-text {
    font-size: 12px;
}

.copyright-text a {
    color: #bfbfbf;
}

